header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 20px;
    margin-right: 0;
}

.nav-item.active {
    font-weight: 700;
}

.Interact {
    justify-content: space-between;
}

td {
    display: table-cell;
    vertical-align: middle !important;
}

thead td {
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(155, 153, 153);
}

html {
    font-size: 1rem;
}
//Reponsive HTML
@media (min-width: 0) {
    html {
        font-size: 0.65rem;
        
    }
}
@media (min-width: 576px) {
    html {
        font-size: 0.9rem;
        
    }
}

@media (min-width: 768px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}
// reponsiveH4
@media (min-width: 0) {
    h4 {
        font-size: 1.1rem;
        
    }
}

@media (min-width: 576px) {
    h4 {
        font-size: 1rem;
        
    }
}

@media (min-width: 768px) {
    h4 {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    h4 {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

//Reponsive img
@media (min-width: 0) {
    img {
        width: 35px;
    }
}

@media (min-width: 576px) {
    img {
        width: 50px;
    }
}

@media (min-width: 768px) {
    img {
        width: 60px;
    }
}

@media (min-width: 992px) {
    img {
        width:  70px;
    }
}

@media (min-width: 1200px) {
    img {
        width: 100px;
    }
}
//reposive thead
@media (min-width: 0) {
     td {
        padding: 0px !important;
        margin: 0;
    }
}

@media (max-width: 576px) {
     td {
        margin: 0 !important;
        padding: 0;
    }
} 

@media (min-width: 1200px) {
    td {
        padding: 1rem !important;
    }
}